<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-menu-button menu="emergenciasMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Modificar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-img src="/assets/img/2.png" class="logo-img"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="agregarPersona()">Agregar Persona</ion-button>

  <ion-list>
    <ion-item *ngFor="let persona of personas">
      <ion-label>
        <h2>{{ persona.nombres }} {{ persona.apellidos }}</h2>
        <p>RUT: {{ persona.rut }}</p>
        <p>Correo: {{ persona.correo }}</p>
        <p>Teléfono: {{ persona.telefono }}</p>
      </ion-label>
      <ion-button fill="clear" color="primary" (click)="modificarPersona(persona.idPersona)">
        Modificar
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="eliminarPersona(persona.idPersona)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
