<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="hospitalMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>CRUD HOSPITALES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón para agregar hospital -->
  <div class="button-container">
    <ion-button expand="block" (click)="agregarHospital()" color="success">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Agregar Hospital
    </ion-button>
  </div>

  <!-- Listado de hospitales -->
  <ion-card *ngFor="let hospital of hospitales">
    <ion-card-header>
      <ion-card-title><strong>Hospital: </strong>{{ hospital.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Dirección:</strong> {{ hospital.direccion }}</p>
    </ion-card-content>

    <ion-button fill="clear" (click)="eliminarHospital(hospital.idHospital)">Eliminar</ion-button>
    <ion-button fill="clear" (click)="modificarHospital(hospital.idHospital)">Modificar</ion-button>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="irACrudHospital()">Volver al Menú</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
