<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/crud-hospital"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Hospital</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="guardarHospital()">
    <ion-item>
      <ion-label position="floating">Nombre del Hospital</ion-label>
      <ion-input 
        [(ngModel)]="hospital.nombre" 
        name="nombre" 
        type="text" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input 
        [(ngModel)]="hospital.direccion" 
        name="direccion" 
        type="text" 
        required>
      </ion-input>
    </ion-item>

    <ion-button 
      expand="block" 
      type="submit">
      Guardar Hospital
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="irACrudHospital()">
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
